<!doctype html>
<html>
  <body>
    <h1>Signup</h1>
    <form action="/login" method="POST">
      Username: <input name="username" type="text" /><br />
      Password: <input name="pwd" type="password" /><br />
      <input type="submit" value="Logar" />
    </form>
  </body>
</html>
